body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1606373664971-bf9b25eb508d?q=80&w=2571&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000000;
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #303f9f;
}

/* .clipart { */
/*   margin: auto; */
/*   position: absolute; */
/*   bottom: 50px; */
/*   /* left: 300px; */
/*   width: 30%; /* Adjust the size as needed */
/*   height: auto; */
/*   z-index: 0; /* Ensure the clipart is behind the container */
/* } */
.clipart {
  position: absolute;
  bottom: calc(10% - 50px); /* Adjust the percentage as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: auto;
  z-index: 0;
}
@media only screen and (max-width: 600px) {
  /* Adjust the width and height for mobile devices */
  .clipart {
    width: 60%;
  }
}
/* body { */
/*   font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, */
/*     'Open Sans', 'Helvetica Neue', sans-serif; */
/* } */
/**/
/* a { */
/*   margin-right: 1rem; */
/* } */
/**/
/* main { */
/*   text-align: center; */
/*   padding: 1em; */
/*   margin: 0 auto; */
/* } */
/**/
/* h1 { */
/*   color: #335d92; */
/*   text-transform: uppercase; */
/*   font-size: 4rem; */
/*   font-weight: 100; */
/*   line-height: 1.1; */
/*   margin: 4rem auto; */
/*   max-width: 14rem; */
/* } */
/**/
/* p { */
/*   max-width: 14rem; */
/*   margin: 2rem auto; */
/*   line-height: 1.35; */
/* } */
/**/
/* @media (min-width: 480px) { */
/*   h1 { */
/*     max-width: none; */
/*   } */
/**/
/*   p { */
/*     max-width: none; */
/*   } */
/* } */
